.c-detail {
  &__row {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    strong,
    p {
      font-size: 20px;
      margin: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    &__row {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
}
